nav ul li {
	display: inline-block;	
	padding: 0;
	margin-right: 150px;
	margin-left:150px;
	margin-top: 0;
	color: white;
	list-style: none;
	font-size: 16px;
}
div{
	display: inline-block;
}
table{
	background-color: orange;
	margin-bottom: 10px;
}

.moveright{
	float: right;
	margin: 0px 0px 10px 10px;
	padding: 30px;
	font-size: 30px;
}